* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

:root {
    --font-outfit: 'Outfit', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --primary-green: #5DAD03;
    --primary-blue: #011F68;
    --secondary-blue: #4262ff;
    --text-gray: rgb(129, 126, 126);
    --secondary-dark: #15212c;
}

.logo {
    width: 105px;
}

.row {
    margin: 0;
}

/* components */
.para {
    color: var(--text-gray);
    font-weight: 400;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subHeading {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: var(--font-outfit);
    line-height: 50px
}


/* components */


#preloader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
}

#preloader img{
    /* border: 2px solid red; */
    width: 200px;
    /* height: 100vh; */
}

.top-nav{
    text-decoration: none;
    color: #fff;
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 99;
}

/* header  */

.hero{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-image: url('../img/bg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-content{
    width: 100%;
    height: 100vh;
}


/* header  */

/* .main-header {
    height: 100vh;
    width: 100%;
    margin-bottom: 5rem;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
} */

/* .hero {
    height: 80vh;
    display: flex;
} */

/* .header-left {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-right {
    width: 35%;
}

.main-heading {
    font-size: 3.3rem;
    font-family: var(--font-outfit);
    font-weight: 500;
    text-transform: capitalize;
} */



.main-cta {
    padding: 18px 35px 15px;
    text-align: center;
    font-weight: 500;
    background-color: var(--primary-green);
    color: #fff;
    text-decoration: none;
}

.upper-titlee {
    background-color: var(--primary-green);
    width: max-content;
    padding: 5px 15px;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    transform: skewX(-12deg);
}

/* .how-it-works-sec{
    border: 2px solid red;
} */

/* #step-List{
    display: flex;
    border: 2px solid red;
} */

/* .step-item{
    border: 2px solid black;
    width: 33.3%;
    background-color: #edf1f5;
} */
.step-item img {
    width: 55%;
    object-fit: cover;
    /* border: 1.5px solid var(--primary-blue);
    border-radius: 50%; */
    /* background-color: #5DAD03; */
}

.step-item p {
    width: 85%;
}

/* service  */

/* .serviceSec{
    border: 2px solid red;
} */
.serviceDetails {
    background-color: var(--secondary-dark);
    color: var(--text-gray);
    height: 65vh;
    align-items: flex-start;
}

.serviceDetails h2 {
    background-color: var(--secondary-dark);
    color: #fff;

}

.serviceItem {
    position: relative;
    overflow: hidden;
}

.serviceItem img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    transition: all ease-in .2s;

}

.serviceItem:hover {
    cursor: pointer;
}

.serviceItem:hover img {
    transform: scale(1.12);
}

.serviceItemDetails {
    background-color: #d4d4d4e3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.serviceItemTitle {
    font-weight: 600;
    font-size: 1.3rem;
}

.serviceItem-info {
    color: var(--secondary-dark);
}

.srvcItem-border {
    border-left: 0.8px solid #fff;
}

.pricingContent {
    width: 65%;
    /* border: 2px solid rebeccapurple; */
}

.priceTitleList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eceef9;
}

.priceTitleList li {

    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: var(--font-outfit);
}

.priceListItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */
}

.priceListItem li {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    text-align: center;
}

.priceListItem li i {
    color: rgb(14 171 124);
    font-size: 1.15rem;
}

.featureList {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.featureList ul li {
    display: flex;
    align-items: center;
}

.featureList ul li i {
    color: var(--secondary-blue);
    font-weight: 600;
    font-size: 1.3rem;
}

.testimonialList {
    width: 60%;
    margin: 0 auto;
}

.bi-quote {
    font-size: 3rem;
    color: #f24f56;
}

.testimonialItem {
    /* border: 2px solid red; */
    text-align: center;
    color: var(--text-gray);

}

.testimonialAuthor {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--secondary-dark);
}


/* footer  */
.footer-logo {
    width: 150px;
}

.socialIcon {
    background-color: #edf1f5;
    width: 50px;
    height: 50px;
    border-radius: 95px;
    color: #434a57;
}

.socialIcon i {
    font-size: 1.8rem;
}

.socialIcon:hover {
    background-color: var(--secondary-blue);
    color: #fff;
}

.footerItem {
    color: #000;
    text-decoration: none;
}

/* whatsapp cta */

.whatsapp {
    background-color: #25D366;
    position: sticky;
    left: 5%;
    bottom: 7%;
    z-index: 9;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.whatsapp i {
    font-size: 2.5rem;
    color: #fff;
}

/* print  */
.documentListContainer{
    overflow-x: auto;
    /* border: 2px solid rebeccapurple; */

}
#uploadListTable{
    width: 100%!important;
}
.documentListLabel{
    align-items: center;
    justify-content: space-evenly;
    background-color: #eceef9;
    font-weight: 500;
}
.documentListItem{
    align-items: center;
    justify-content: space-evenly;
}
.documentListItem li{
    text-align: center;
}



@media screen and (max-width : 800px) {

    .topbarList{
        flex-direction: column;
    }
    .index-link{
        margin-left: 1.5rem;
    }
    .hero{
        height: auto;
    }
    .hero-content{
        padding: 7px;
        height: 70vh;
    }
    .aboutus-content{
        margin-top: 2rem;
    }

    .pricingContent{
        width: 100%;
    }
    .priceListItem{
        border-bottom: 1px solid var(--text-gray);
    }

    .testimonialList{
        width: 100%;
        padding: 0!important;
    }

    #faq-content{
        padding: 0!important;
    }
    #serviceList{
        display: flex;
        flex-direction: column;
    }
    .serviceItem{
        width: 100%;
    }

    .featureList{
        flex-direction: column;
        align-items: flex-start;
    }
    .featureList-2{
        margin: 0!important;
    }
    .form-content{
        margin-top: 2rem;
    }
    






}

